<h3><%= link_to organization.name, organization %></h3>
<table border="1" width="100%">
  <tr>
    <th width="25%">Project</th>
    <% Date::ABBR_MONTHNAMES[1..-1].each do |m| %>
      <th>
        <%= m %>
      </th>
    <% end %>
  </tr>
  <% organization.projects.each do |project|
    p_date_start = project.date_start.to_date
    p_date_end = project.date_end.nil? ? Date.today.to_date : project.date_end.to_date
    project_range = p_date_start..p_date_end
  %>
    <tr>
      <td><%= link_to project.name, project %></td>

      <% (1..12).each do |m|
        month = Date.new(2013, m)
        month_begin = month.beginning_of_month
        month_end = month.end_of_month
        month_range = month_begin..month_end %>
        <td>
          <%= project_range.overlaps?(month_range) ? "-" : "" %>
        </td>

      <% end %>
    </tr>
  <% end %>
</table>